* {
  margin: 0;
}
header {
  background: #7c8082;
  padding-top: 50px;
  padding-bottom: 35px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
header > a {
  text-transform: lowercase;
}
header ul + a {
  margin-left: 12px;
}
main,
header ul {
  width: 800px;
  margin: 0 auto;
}
.section-title {
  text-transform: uppercase;
  color: rgb(95, 108, 116);
}
section {
  padding: 30px 15px 30px 15px;
}
.section-inner div {
  padding: 15px 10px;
}
.section-inner {
  display: flex;
  justify-content: space-around;
}
.section-inner h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
#portfolio {
  background-color: #eee;
}

.text-description {
  font-size: 12px;
  font-family: "Oswald";
  color: rgb(95, 108, 116);
  line-height: 1.2;
  text-align: justifyLeft;
}
.subtitle-text {
  color: rgb(95, 108, 116);
}
.btn {
  background: rgba(139, 146, 151, 0.849);
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.section-title-footer {
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  display: block;
}

footer {
  background-color: rgb(95, 108, 116);
  height: 300px;
  margin-top: 20px;
  padding: 20px;
}
.portfolio img {
  transition: 0.5s;
}
.portfolio img:hover {
  transform: scale(1.2);
}
.portfolio img {
  margin-top: 20px;
  padding: 4px;
}
.section-blog div {
  padding: 15px 10px;
}
.section-blog {
  justify-content: space-around;
  display: flex;
  color: rgb(95, 108, 116);
}
.section-blog h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* Практика */
body {
  background-color: #7c8082;
  padding: 50px 0;
  width: 1200px;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 100%;
  height: 850px;
  border: 1px solid #fff;
  background: #ccf
    url("https://images.pexels.com/photos/724712/pexels-photo-724712.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.box2 {
  width: 100%;
  height: 850px;
  border: 1px solid #fff;
  background: #ccf;
  background-image: url("https://images.pexels.com/photos/776526/pexels-photo-776526.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.box3 {
  width: 50%;
  height: 400px;
  background: url("https://images.pexels.com/photos/776526/pexels-photo-776526.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
    no-repeat;
  background-size: cover;
  position: relative;
}
.box3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s;
}
.box3:hover::before {
  opacity: 1;
  top: 20px;
  bottom: -20px;
  left: 20px;
  right: -20px;
}
